<!-- Interviews post_list.html -->

{% extends 'blog/base.html' %}

{% block content %}
    {% for interview in interviews %}
        <div class="post">
            <div class="date">
                <p>published: {{ interview.published_date }}</p>
            </div>
            <h1><a href="{% url 'interview_detail' pk=interview.pk %}">{{ interview.title }}</a></h1>  
            <img class = "img-rounded" width = "100" src="{{ interview.picture.url }}" alt="...">
            <p>{{ interview.text|linebreaks }}</p>
                   
        </div>
    {% endfor %}
{% endblock %}